/* Font used on project downloaded from Google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*Variables*/
:root{
    --primary-font: 'Poppins', sans-serif;
    --secondary-font: 'Merriweather', serif;
    --secondary-color:#264D32;/*dark green */
    --highlight-color: #585423; /*  mid green */
    --secondary-highlight: #E1E0BC; /*pale yellow green*/
    --primary-background-color: #F0FFFF;/*off-white*/
    --primary-highlight: #CEAB8D;/* pale tan*/
    --primary-color: #302118;/*dark brown*/
}

/*Generic style rules*/
body{
    font-family: var(--primary-font);
    background-color: var(--primary-background-color);
    color: var(--primary-color);
    /*push the content down under fixed nav bar*/
    margin-top:66px;
}

h1,
h2,
h3{
    font-family: var(--secondary-font);
    color: var(--secondary-color);
    font-weight:800px;
}

/*padding for all sections*/
.section{
    padding-top: 2rem;
}
/*to hide section headings required for semantic purposes only*/
.hidden-text{
    display:none;
}
/*logo*/

#logo{
    width:30px;
    height:30px;
    margin-right: 20px;
}

/*buttons*/

.btn-outline-success{
    color: var(--primary-color);
    background-color: var(--primary-highlight);
    border: 2px solid var(--primary-color);
    margin-left:5px;
    text-align: center;
}

.btn-outline-success:hover{
    color:var(--primary-background-color);
    background-color: var(--primary-color);
    border:2px solid var(--primary-background-color);
    font-size: 110%;
    text-decoration: none;
    transition: all 0.5s ease-in-out;
}

.btn-primary{
    color: var(--primary-background-color);
    background-color: var(--primary-color);
    border: 2px solid var(--primary-background-color);
    margin-left:5px;
    text-align: center;
}

.btn-primary:hover{
    color:var(--primary-color);
    background-color: var(--primary-highlight);
    border:2px solid var(--primary-color);
    font-size: 110%;
    text-decoration: none;
    transition: all 0.5s ease-in-out;
}

/*icons*/
i{
    margin-right:10px;
}

/*for quotation text from Bob and also testimonials*/
.quotes{
    color: var(--secondary-color);
    padding:20px 10px 20px 40px;
    margin:20px 5px 20px 40px;
    border-radius: 20px 20px 20px 0;
    border: 1px double var(--highlight-color);
    position: relative;
    box-shadow: 5px 5px 5px var(--secondary-highlight);
}

.quotes .speech-marks{
    color: var(--highlight-color);
    font-size: 300%;
    background-color: var(--primary-background-color);
    position:absolute;
    top:-30px;
    left:-20px;
}

.quotes .author{
    color:var(--highlight-color);
    font-style: italic;
    font-weight: 300;
}

.quotes .address{
    font-weight: 500;
}

/*testing and set up style rules to delete at the end*/
/* div {
    border: 2px solid yellow;
    background-color: blue;
}
.container,
.row {
    border: 2px solid black;
    background-color: red;
} */


/*Nav bar style rules*/

#navbar{
    background-color: var(--secondary-color);
    color: var(--primary-background-color);
    box-shadow: 0 2px 5px var(--secondary-highlight);
}

#navbar a{
    color:var(--primary-background-color);
}

#navbar a:hover{
    color:var(--secondary-highlight);
    text-decoration: underline;
    transition: all 0.5s ease-in-out;
}

#navbar .btn-outline-success:hover{
    text-decoration: none;
    color:var(--primary-background-color);
}

#nav-logo-text{
    font-family: var(--secondary-font);
    font-weight: 800;
    font-size: 1.5rem;
}



/*Hero image style rules*/
#hero{
    background: url(../images/hero-image.webp) var(--highlight-color) no-repeat center center/cover fixed;
    height: 70vh;
    width:100%;
    position:relative;
}

#hero-text-background{
    background-color: #F0FFFF9B;/* used Dev tools to find a transparency which worked*/
    position:absolute;
    padding:10px;
    top:90px;/*positioning adjusted for mobile using dev tools*/
    max-width: 80%;
    border-radius: 0px 20px 20px 0px;
}

#title-text{
    font-weight:800;
    text-align: left;
}
#hero-subtitle-text{
    font-style: italic;
    text-align: left;
    font-family: var(--primary-font);
    color: var(--primary-color);
}

/*About section style rules*/
#gardener-portrait{
    background: url(../images/gardenerFreepix.webp) no-repeat center center/cover;
    /* background-color: black; */
    width: 90vw;
    height:90vw;
    border-radius: 50%;
    box-shadow: 5px 5px 5px var(--secondary-highlight);
    max-width:300px;
    max-height: 300px;
}

#offer ul{
    list-style-type: none;
}

/*Service section style rules*/

/*Testimonials section style rules*/

/*Contact form section style rules*/
.required{
    color: var(--highlight-color);
}
.form-info-text{
    font-style: italic;
    color: var(--secondary-color);
}

/*Footer style rules*/

footer{
    background-color: var(--secondary-color);
    color: var(--primary-background-color);
    font-size: 0.8rem;
    padding-top:20px;
}

footer h3{
    color:var(--primary-background-color);
}

.social-media i{
    font-size: 1.7rem;
    color:var(--primary-background-color);
}
.social-media i:hover{
    font-size:2rem;
    color:var(--secondary-highlight);
    transition: all 0.5s ease-in-out;
}
.qualifications img{
    max-height: 50px;
    background-color: var(--primary-background-color);
}

/*Media queries*/
/*small screens: 578px and up*/
@media screen and (min-width: 576px) {
}

/*reduced hero text on mobile only*/
@media screen and (max-width:767px){
    #title-text{
        font-size: 2.2rem;
    }
    #hero-subtitle-text{
        font-size: 1.1rem;
    }
}

/*medium screens: tablets (768px and above)*/
@media screen and (min-width:768px){
    
}

/*hide nav bar brand text on mobile and tablet*/
@media screen and (max-width:991px){
    #nav-logo-text{
        display:none;
    }
}

/*large screens 992px*/
@media screen and (min-width:992px){
    #hero-text-background{
        bottom:100px;
        padding:20px;
        top:auto;
    }
    #gardener-portrait{
    width: 45vw;
    height:45vw;

}
}

/*extra large screens: 1200 px and above*/
@media  screen and (min-width:1200px) {

}

/*extra extra large screens: 1400 px and above*/
@media  screen and (min-width:1400px) {
}


