/* Font used on project downloaded from Google fonts*/
/*@import url('https://fonts.googleapis.com/css2?family=Hind:wght@400;600;700&family=Poppins:wght@400;700;800&family=Trirong:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap') */

/*Variables*/
:root{
     --primary-font: "Hind", sans-serif;
    --secondary-font: "Poppins", sans-serif;
    --quotation-text: "Trirong", sans-serif; 
    --secondary-color:#264D32;/*dark green */
    --highlight-color: #585423; /*  mid green */
    --secondary-highlight: #E1E0BC; /*pale yellow green*/
    --primary-background-color: #F0FFFF;/*off-white*/
    --primary-highlight: #CEAB8D;/* pale tan*/
    --primary-color: #302118;/*dark brown*/
}

/*Generic style rules*/
body{
    font-family: var(--primary-font);
    background-color: var(--primary-background-color);
    color: var(--primary-color);
}

h1,
h2,
h3{
    font-family: var(--secondary-font);
    color: var(--secondary-color);
}

/*quotation text*/
.quote-text{
    font-family: var(--quotation-text);
}

/*padding for all sections*/
.section{
    padding-top: 4rem;
}
/*logo*/
#logo{
    width:30px;
    height:30px;
}

/*Nav bar style rules*/
.navbar-toggler{
    color:var(--primary-background-color);
}

#navbar{
    background-color: var(--secondary-color);
    color: var(--primary-background-color);
    box-shadow: 5px 0 0.2em var(--secondary-highlight);
}

#navbar a{
    color:var(--primary-background-color);
}

#navbar a:hover{
    color:var(--secondary-highlight);
    text-decoration: underline;
}

/*Hero image style rules*/

/*About section style rules*/

/*Service section style rules*/

/*Testimonials section style rules*/

/*Contact form section style rules*/

/*Footer style rules*/

/*Media queries*/
/*small screens: 578px and up*/
@media screen and (min-width: 576px) {
}

/*medium screens: tablets (768px and above)*/
@media screen and (min-width:768px){
}

/*large screens 992px*/
@media screen and (min-width:992px){
}

/*extra large screens: 1200 px and above*/
@media  screen and (min-width:1200px) {
}

/*extra extra large screens: 1400 px and above*/
@media  screen and (min-width:1400px) {
}


/*testing and set up style rules to delete at the end*/
